/* PRIMITIVE SECTION BEGINS */
header {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #940f15;
    font-weight: bold;
    font-size: 6vmin;
}

h2 {
    height: 5vmin;
    font-size: 3.5vmin;
}

p {
    font-family: 'Roboto', sans-serif;
}

/* PRIMITIVE SECTION ENDS */

/* BANNDER SECTION BEGINS */

#banner-container {
    background-color: #2e598f;
    color: #ebead9;
    display: flex;
    justify-content: space-around;
    height: 30vh;
    background-image: url("Untitled.png");
    background-size: 700px;
    background-position: 25%;
    background-repeat: no-repeat;
}

#banner-flex-box-1 {
    display: flex;
    width: 25%;
    justify-content: center;
    align-self: center;
}

#banner-flex-box-1 p {
    font-family: 'Raleway', sans-serif;
    font-size: 10vmin;
}

#banner-14 {
    font-size: 12vmin;
    font-weight: bold;
    color: #ebead9;
}

#banner-flex-box-2 {
    display: flex;
    width: 75%;
    justify-content: center;
    align-self: flex-end;
    font-size: 2vmin;
}

ul {
    height: 10vh;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0c2141;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    z-index: 1;
    top: 0;
}

li {
    text-align: center;
    line-height: 10vh;
    float: left;
    font-size: 3.5vh;
    width: 10%;
    height: 100%;
}

li a {
    height: 100%;
    display: block;
    color: #ebead9;
    text-decoration: none;
}

li a:hover {
    background-color: #940f15;
}

.active {
    background-color: #2e598f;
}
/* BANNDER SECTION ENDS */

/* ABOUT SECTION BEGINS */

#about-container, #custom-container, #manufacturing-container, #military-container, #design-container {
    display: flex;
    height: 100vh;
    justify-content: space-around;
}

#manufacturing-container {
    background-color: #940f15;
    color: #fff;
}

#military-container {
    background-color: #2e598f;
    color: #fff;
}

#manufacturing-container h1 {
    color: #fff;
}

#military-container h1 {
    color: #fff;
}

#about-flex-box-1, #custom-flex-box-1, #manufacturing-flex-box-1, #military-flex-box-1, #design-flex-box-1 {
    align-self: center;
    width: 40%;
}

#about-flex-box-1 p, #custom-flex-box-1 p, #manufacturing-flex-box-1 p, #military-flex-box-1 p, #design-flex-box-1 p {
    letter-spacing: .25vmin;
    text-align: justify;
    line-height: 5vmin;
}

#about-flex-box-2, #custom-flex-box-2, #manufacturing-flex-box-2, #military-flex-box-2, #design-flex-box-2 {
    align-self: center;
    width: 40%;
}

.responsive {
    max-width: 100%;
    height: auto;
}

#contact-us-button, #custom-view-images-button, #military-view-images-button, #design-view-images-button, #manufacturing-view-images-button {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1vmin;
    background-color: #fff;
    color: #940f15;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    border: 2px solid #940f15;
    width: 40vmin;
    height: 10vmin;
}

#contact-us-button:hover, #custom-view-images-button:hover,
#design-view-images-button:hover, #military-view-images-button:hover, #manufacturing-view-images-button:hover {
    background-color: #940f15;
    color: #fff;
}

#manufacturing-container #contact-us-button:hover, #manufacturing-view-images-button:hover  {
    background-color: #0c2141;
}
/* ABOUT SECTION ENDS */

/* SERVICES SECTION BEGINS */

#services {
    display: flex;
    flex-direction: column;
    background-color: #940f15;
    color: #fff;
    height: 100vh;
}

#services h1 {
    letter-spacing: .5vmin;
    font-size: 8vmin;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin: 6vmin auto;
}

#services-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 6fr 2fr;
    grid-gap: 1vmin 5vmin;
    text-align: center;
    margin: 0 auto;
}

#services-container p {
    text-align: center;
}

.icon-image {
    height: 85%;
    margin: 5% auto;
    vertical-align: middle;
}

.services-flex-box {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 20%;
    text-align: center;
}

.services-flex-box p {
    font-size: 2vh;
    line-height: 5vmin;
    height: 50%;
    overflow: auto;
}

.services-flex-box button {
    align-self: flex-end;
    height: 15%;
    width: 100%;
}

.view-more {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1vmin;
    background-color: #fff;
    color: #940f15;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    border: 2px solid #940f15;
    width: 40vmin;
    height: 10vmin;
    margin: 0 auto;
}

#submit {
    font-size: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    letter-spacing: 1vmin;
    background-color: #940f15;
    color: #fff;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    border: 2px solid #940f15;
    width: 40vmin;
    height: 10vmin;
    margin: 0 auto;
}

.view-more:hover, #submit:hover {
    border: none;
    background-color: #a4b6c1;
    color: #fff;
}

/* SERVICES SECTION ENDS */

.animate-fading {animation:fading 5s infinite}

@keyframes fading{
    0%{opacity:0}
    25%{opacity: 1}
    50%{opacity:1}
    75%{opacity: 1}
    100%{opacity:0}
}

/* MAP BEGINS */
#map {
    width: 100%;
    height: 80vh;
    align-self: center;
}
/* MAP ENDS */

/* CONTACT BEGINS */
#contact-page-container {
    display: flex;
    flex-direction: column;
}

#locations, #contact-form-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
    padding-top: 50px;
    margin-bottom: 100px;
}

#locations address, #locations p {
    margin: 0;
}

#contact-page-container h1 {
    font-size: 4vh;
}

#contact-form-container {
    padding-top: 50px;
    padding-bottom: 100px;
    width: 90%;
    height: 100vh;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form-element {
    width: 100%;
    margin: 0 auto;
}

#contact-form-element-button {
    margin: 0 auto;
    width: 92vw;
}

#contact-form p {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 3vh;
    margin-top: 5vh;
}

input {
    border-style: solid;
    border-width: 1px;
    width: 100%;
    height: 6vh;
    border-color: #e4e4e4;
    border-top-color: #e4e4e4;
    border-bottom-color: #e4e4e4;
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
}

input:hover {
    box-shadow: 0px 0px 1px 0px grey;
}

textarea {
    border-style: solid;
    border-width: 1px;
    border-color: #e4e4e4;
    border-top-color: #e4e4e4;
    border-bottom-color: #e4e4e4;
    -webkit-transition: box-shadow .25s;
    transition: box-shadow .25s;
    width: 100%;
}

textarea:hover {
    box-shadow: 0px 0px 1px 0px grey;
}

.g-recaptcha {
    margin-top: 5vh;
}

#submit {
    min-width: 100px;
    max-width: 200px;
    width: 20vw;
    letter-spacing: .5vw;
    font-size: 2vmin;
}
/* CONTACT ENDS */

/* SIDEBAR NAV BEGINS */

#mySidenav a {
    position: fixed;
    z-index: 3;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
    left: 0;
}
/*
#about {
    top: 20px;
    background-color: #4CAF50;
}

#blog {
    top: 80px;
    background-color: #2196F3;
}

#projects {
    top: 140px;
    background-color: #f44336;
}

#contact {
    top: 200px;
    background-color: #555
}
*/

#crates-link {
    top: 50vh;
    background-color: #0c2141;
}

#manufacturing-link {
    top: 60vh;
    background-color: #a4b6c1;
}

#military-link {
    top: 70vh;
    background-color: #0c2141;
}

#design-link {
    top: 80vh;
    background-color: #a4b6c1;
}

#about {
    top: 50vh;
    background-color: #0c2141;
}

#blog {
    top: 60vh;
    background-color: #a4b6c1;
}

#projects {
    top: 70vh;
    background-color: #f44336;
}

#contact {
    top: 80vh;
    background-color: #555;
}
/* SIDEBAR NAV ENDS */

/** LIGHTBOX MARKUP **/

.thumbnail {
    max-width: 90%;
    transition: transform .5s;
    /*
    -webkit-box-reflect: below 0
    -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.5, transparent), to(black));
    */
  }

.thumbnail:hover {
    transform: scale(1.1);
}

.lightbox {
	/** Default lightbox to hidden */
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	/** Pad the lightbox image */
	max-width: 90%;
	max-height: 80%;
	margin-top: 10%;
}

.lightbox:target {
	/** Remove default browser outline */
    outline: none;
	/** Unhide lightbox **/
	display: block;
}

.lightbox a {
    background-color: #f44336;
    color: #2e598f;
    display:none;
}


/* PANEL BEGINS */
.services-panel-container {
    width: 100%;
    height: 40vh;
    background-color: #000;;
}
.services-panel {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 40vh;
    background-color: #000;
}

/* PANEL ENDS */

/* MEDIA QUERY BEGINS */
@media only screen and (min-width: 700px) {
    #contact-page-container {
        display: flex;
        flex-direction: row;
    }

    #locations {
        width: 45%;
    }

    #contact-form-container {
        width: 45%;
    }
}
/* MEDIA QUERY ENDS */